

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }
/* collapsable */
#collapsable {
  margin-top: 8px;
}
  /* footer CSS */
.page-footer {
  opacity: 80%;
  margin-top: 10%;
}
/* logo text */
.brand-logo {
  margin-left: 17%;
}
.carousel {
  
}